{#- name: "script_template" -#}

. "/etc/profile"
. '{{ setup_script }}'

HOST="$(hostname)"
PORT=8888

echo "Jupyter url: http://$HOST:$PORT"

set -Eeuo pipefail
set -x

exec '{{ jupyter_executable }}' lab \
    --ip "$HOST" --port "$PORT" \
    --ServerApp.disable_check_xsrf=True \
    --notebook-dir="$HOME" \
    --no-browser
