{#- name: "head_command" -#}

'{{ ray_executable }}' start
    --head
    --node-ip-address='{{ host }}'
    --port={{ port }}
    --ray-client-server-port={{ client_server_port }}
    --include-dashboard=true
    --dashboard-host=''
    --dashboard-port={{ dashboard_port }}
    --plasma-directory='{{ plasma_dir }}'
    --temp-dir='{{ temp_dir }}'
    --dashboard-agent-listen-port={{ dashboard_agent_listen_port }}
    --disable-usage-stats
    --verbose
    --log-style pretty
    --log-color false
    {% if num_cpus is not none %}
    --num-cpus={{ num_cpus }}
    {% endif %}
    {% if num_gpus is not none %}
    --num-gpus={{ num_gpus }}
    {% endif %}
    {% if resources is not none %}
    --resources='{{ resources | json }}'
    {% endif %}
    --block

{#- name: "worker_sbatch_script" -#}

{% if use_srun %}
srun /bin/bash '{{ worker_script_path }}'
{% else %}
. '{{ worker_script_path }}'
{% endif %}

{#- name: "worker_script" -#}

#!/bin/bash

. '/etc/profile'
. '{{ setup_script }}'

set -Eeuo pipefail
set -x

echo "Starting worker on $(hostname)"

if [[ -h '{{ temp_dir }}' ]]; then
    rm -f '{{ temp_dir }}'
elif [[ -d '{{ temp_dir }}' ]]; then
    rm -rf '{{ temp_dir }}'
fi
mkdir -p '{{ work_dir }}/temp_dir/{{ worker_name }}'
ln -s '{{ temp_dir }}' '{{ work_dir }}/temp_dir/{{ worker_name }}'

rm -rf '{{ plasma_dir }}'
mkdir -p '{{ plasma_dir }}'

exit_trap () {
    echo "Stopping ray."

    '{{ ray_executable }}' stop

    rm -f '{{ temp_dir }}'
    rm -rf '{{ plasma_dir }}'
}

trap exit_trap EXIT TERM

export RAY_scheduler_spread_threshold=0.0
export PYTHONPATH='{{ cluster_python_path }}'

'{{ ray_executable }}' start \
    --address='{{ address }}' \
    {% if num_cpus is not none %}
    --num-cpus={{ num_cpus }} \
    {% endif %}
    {% if num_gpus is not none %}
    --num-gpus={{ num_gpus }} \
    {% endif %}
    {% if resources is not none %}
    --resources='{{ resources | json }}' \
    {% endif %}
    --plasma-directory='{{ plasma_dir }}' \
    --dashboard-agent-listen-port={{ dashboard_agent_listen_port }} \
    --disable-usage-stats \
    --verbose \
    --log-style pretty \
    --log-color false \
    --block
